.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "Tahoma", Arial, sans-serif;
  outline: none;
}

.btn--dots {
  position: relative;
  width: 6px;
  height: 6px;
  background-color: #a8a8a9;
  border-radius: 50%;
  padding: 0;
}

.sub-header .btn--dots {
  margin-left: 60px;
  margin-right: 30px;
}

.btn--dots::before, .btn--dots::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #a8a8a9;
  border-radius: 50%;
  top: 0;
  left: -8px;
}

.btn--dots::after {
  left: 8px;
}

.btn--regular {
  background-color: #4a76a8;
  border-radius: 4px;
  font-size: 13px;
  line-height: 24px;
  font-family: Tahoma, Arial, sans-serif;
  color: #ffffff;
  width: 100%;
  padding: 6px 0;
}

.btn--regular:hover {
  background-color: #5774a3;
}

.btn--del {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.btn--del::before,
.btn--del::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.btn--del::after {
  transform: translateX(-50%) rotate(45deg);
}

.btn--cross {
  position: relative;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.btn--cross::before,
.btn--cross::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #dbdbdb;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.btn--cross::after {
  transform: translateX(-50%) rotate(45deg);
}

.btn--video-duration {
  position: absolute;
  bottom: 12px;
  right: 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.btn--video-duration::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-width: 3px 0 3px 5.2px;
  border-color: transparent transparent transparent #ffffff;
}

.btn--play {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%235181B8%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M9.846%2016.86c-.467.303-.846.097-.846-.45V7.588c0-.551.38-.752.846-.45l6.91%204.48c.324.21.327.549%200%20.761l-6.91%204.48z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.btn--calendar {
  background: url('../img/calendar.png');
  width: 23px;
  height: 24px;
  background-repeat: no-repeat;
  margin: 0 13px;
}

.btn--queue {
  width: 150px;
}

.btn--settings {
  background: url('../img/settings.png');
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: 13px;
}

.btn--modal-close {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  top: -16px;
  right: -16px;
  background-color: #fff;
  z-index: 2;
}

.btn--modal-close::before,
.btn--modal-close::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #dbdbdb;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.btn--modal-close::after {
  transform: translateX(-50%) rotate(45deg);
}

.btn--modal-close:hover::before,
.btn--modal-close:hover::after {
  background-color: #224b7a;
}

.btn--light {
  background-color: #e5ebf1;
  color: #485e78;
}

.btn--light:hover {
  background-color: #fafbfc;
}

.btn--220{
  width: 220px;
}

.btn--disabled,
.btn--disabled:hover {
  background-color: #dce2e8;
  color: #485e78;
  cursor: auto;
}

.btn--face {
  background-image: url(../img/face.png);
  width: 19px;
  height: 19px;
}

.btn--filter {
  background-image: url(../img/filter.png);
  width: 16px;
  height: 12px;
  align-self: center;
  margin-right: 15px;
  margin-top: 3px;
}
