.page {
  width: 100%;
  background-color: #edf2f6;
  font-family: Tahoma, Arial, sans-serif;
  color: #000000;
  padding-top: 54px;
  padding-bottom: 54px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.modal-overlay {
  display: none;
  width: 100%;
  height: 101vh;
  background: #224b7a;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3; }

.modal-overlay.modal-overlay--active {
  display: block; }